@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

body {  
  background: linear-gradient(to right, rgb(220, 210, 243), rgba(234, 234, 234, 0.2));
  display: flex;
  font-family: Ubuntu, sans-serif;
  font-size: 1.1rem;
}

.container {
  height: 90vh;
  width: 50vw;
  min-width: 400px;
  min-height: 600px;
  background-color: rgb(246, 246, 246);
  border: 4px solid steelblue;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5%;
  gap: 20px;
}

.title {
  width: 70%;
  font-weight: bold;
  font-size: 2rem;
}

.container-item {
 border: 3px solid steelblue;
 text-align: center;
 border-radius: 3%;
 
}

.member-form {
 display: flex;
 height: 20%;
 width: 75%;
 padding: 15px;
 font-size: 1rem;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 flex-wrap: wrap;
}

input {
  width: 45%;
  font-size: 1.3rem;
  flex-shrink: 1;
}

.film-form {
  display: flex;
  height: 20%;
  width: 75%;
  padding: 15px;
  font-size: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
 }

 .buttons {
  display: flex;
  height: 10%;
  width: 80%;
  align-items: center;
  justify-content: space-around;
  gap: 8%;
 }
   
 button {
  /* margin: 5px; */
  width: 25%;
  /* width: 120px; */
  font-size: 1.05rem;
  line-height: 40px;
}

.returns {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.return-textarea {
  overflow-y: scroll;
  
  width: 80px;
  max-height: 90%;
  
}

